.row9-style {
  background-color: rgb(7, 48, 130);
  padding: 50px;
  padding-left: 100px;
}

.heading-launchpad-style {
  color: rgb(59, 255, 232);
  font-size: 12px;
  font-weight: 400;
}

.heading9-style {
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.text9-style {
  color: rgb(133, 133, 133);
  font-size: 12px;
  font-weight: 400;
}
